<div class="flex row centered buttons">
    <% buttons.forEach(button => { %>
        <div class="frame">
            <div class="button">
                <img src="<%=button.img%>" alt="<%=button.alt%>">
            </div>
        </div>
    <% })%>
</div>