<footer>
    <small><a href="https://www.youtube.com/c/AidaDrogan" target="_blank">by #BlondieCode © <%=fullYear%></a></small> |
    <small><a href="https://pixabay.com/" target="_blank">images © pixabay.com</a></small>
</footer>